<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.AboutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductlistServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.ProductlistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Article_listServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.Article_listServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Article_list_contentServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.Article_list_contentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.HeaderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FootServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.FootServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.jiaju.servlet.test</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>

    <servlet-name>ProductClassServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.ProductClassServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MemberhServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.MemberhServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouTai_ProductClassServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.HouTai_ProductClassServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouTai_DelProductClassServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.HouTai_DelProductClassServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouTai_NewsTypeServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.HouTai_NewsTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouTai_ProductlistServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.HouTai_ProductlistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouTai_MessageServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.HouTai_MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Productdetails</servlet-name>
    <servlet-class>com.jiaju.servlet.Productdetails</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductTuiJian</servlet-name>
    <servlet-class>com.jiaju.servlet.ProductTuiJian</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IndexRecommedServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.IndexRecommedServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouTai_NewslistServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.HouTai_NewslistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouTai_DelNewsTypeServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.HouTai_DelNewsTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouTai_AddProductlistServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.HouTai_AddProductlistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouTai_MembersServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.HouTai_MembersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouTai_CompanyServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.HouTai_CompanyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouTai_AddMembersServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.HouTai_AddMembersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.admin.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductTypeAdmin</servlet-name>
    <servlet-class>com.jiaju.servlet.admin.ProductTypeAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsTypeServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.admin.NewsTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ProductAdminServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.admin.ProductAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MemberAdminServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.admin.MemberAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.admin.NewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewslistServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.admin.NewslistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewssServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.admin.NewssServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CompanyAdminServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.admin.CompanyAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessageAdminServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.admin.MessageAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FrameServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.FrameServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FrameAdminServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.admin.FrameAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NewsssAdminServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.admin.NewsssAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.testServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>News_MoreServlet</servlet-name>
    <servlet-class>com.jiaju.servlet.News_MoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>zhuxiao</servlet-name>
    <servlet-class>com.jiaju.servlet.zhuxiao</servlet-class>
  </servlet>











































  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductlistServlet</servlet-name>
    <url-pattern>/productlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Article_listServlet</servlet-name>
    <url-pattern>/article_list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Article_list_contentServlet</servlet-name>
    <url-pattern>/article_list_content</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FootServlet</servlet-name>
    <url-pattern>/foot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/servlet/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductClassServlet</servlet-name>
    <url-pattern>/productclass</url-pattern>
     </servlet-mapping>
     <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>HouTai_ProductClassServlet</servlet-name>
    <url-pattern>/houtaiproductclass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouTai_DelProductClassServlet</servlet-name>
    <url-pattern>/delhtpt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouTai_NewsTypeServlet</servlet-name>
    <url-pattern>/houtainewstype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouTai_ProductlistServlet</servlet-name>
    <url-pattern>/houtaiproductlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouTai_MessageServlet</servlet-name>
    <url-pattern>/houtaimessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Productdetails</servlet-name>
    <url-pattern>/productdetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductTuiJian</servlet-name>
    <url-pattern>/producttuijian</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexRecommedServlet</servlet-name>
    <url-pattern>/indexrecommed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouTai_NewslistServlet</servlet-name>
    <url-pattern>/houtainewslist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouTai_DelNewsTypeServlet</servlet-name>
    <url-pattern>/houtaidelnewstype</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>HouTai_AddProductlistServlet</servlet-name>
    <url-pattern>/houtaiaddproduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouTai_MembersServlet</servlet-name>
    <url-pattern>/houtaimembers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouTai_CompanyServlet</servlet-name>
    <url-pattern>/houtaicompany</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouTai_AddMembersServlet</servlet-name>
    <url-pattern>/houtaiaddmembers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductTypeAdmin</servlet-name>
    <url-pattern>/adminproducttype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsTypeServlet</servlet-name>
    <url-pattern>/adminnewstype</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductAdminServlet</servlet-name>
    <url-pattern>/adminproduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberAdminServlet</servlet-name>
    <url-pattern>/adminmember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/adminnews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewslistServlet</servlet-name>
    <url-pattern>/adminnewslist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewssServlet</servlet-name>
    <url-pattern>/adminnewss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanyAdminServlet</servlet-name>
    <url-pattern>/admincompany</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageAdminServlet</servlet-name>
    <url-pattern>/adminmessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FrameServlet</servlet-name>
    <url-pattern>/admiframe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FrameAdminServlet</servlet-name>
    <url-pattern>/adminframe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsssAdminServlet</servlet-name>
    <url-pattern>/adminnewsss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>News_MoreServlet</servlet-name>
    <url-pattern>/news_more</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>zhuxiao</servlet-name>
    <url-pattern>/zhuxiao</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>LoginFilter</filter-name>
  <filter-class>com.jiaju.filter.LoginFilter</filter-class>

  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
      <url-pattern>/*</url-pattern><!-- /*代表所有请求 -->
  </filter-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
</web-app>
